## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1= [random.randint(0,100) for i in range(0,80)]
print(sample_list_1)

[7, 10, 32, 39, 29, 87, 5, 48, 98, 5, 15, 79, 55, 1, 41, 78, 84, 45, 95, 35, 99, 97, 65, 62, 2, 78, 88, 37, 31, 0, 70, 67, 8, 47, 6, 80, 71, 65, 85, 96, 5, 65, 43, 34, 93, 40, 44, 21, 55, 74, 79, 65, 2, 15, 40, 4, 87, 90, 30, 7, 15, 45, 74, 0, 79, 31, 65, 45, 61, 32, 97, 57, 71, 4, 16, 55, 67, 85, 25, 79]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1= set(sample_list_1)
print (set1)

{0, 1, 2, 4, 5, 6, 7, 8, 10, 15, 16, 21, 25, 29, 30, 31, 32, 34, 35, 37, 39, 40, 41, 43, 44, 45, 47, 48, 55, 57, 61, 62, 65, 67, 70, 71, 74, 78, 79, 80, 84, 85, 87, 88, 90, 93, 95, 96, 97, 98, 99}

In [6]:
len(set1)

51

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list2=[]
n=80
for x in range(n):
    sample_list2.append(random.randint(0,100))
print(sample_list2)

[20, 57, 98, 56, 64, 3, 58, 95, 86, 63, 52, 94, 30, 51, 11, 21, 93, 72, 98, 79, 12, 4, 70, 10, 50, 65, 45, 38, 50, 67, 43, 58, 68, 39, 1, 49, 75, 10, 73, 75, 11, 60, 62, 86, 95, 56, 42, 10, 55, 15, 74, 57, 34, 48, 61, 88, 26, 74, 42, 16, 62, 21, 3, 21, 35, 100, 90, 55, 99, 0, 28, 38, 100, 12, 69, 2, 37, 38, 78, 20]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
set2= set(sample_list2)
print(set2)

{0, 1, 2, 3, 4, 10, 11, 12, 15, 16, 20, 21, 26, 28, 30, 34, 35, 37, 38, 39, 42, 43, 45, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 78, 79, 86, 88, 90, 93, 94, 95, 98, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
set3=set()
for x in set1:
    if x not in set2:
        set3.add(x)
print(set3)

{5, 6, 7, 8, 25, 29, 31, 32, 40, 41, 44, 47, 71, 80, 84, 85, 87, 96, 97}

In [14]:
len(set3)

19

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
set4=[]
for y in set2:
    if y not in set1:
        set4.append(y)
print(set4)

[3, 11, 12, 20, 26, 28, 38, 42, 49, 50, 51, 52, 56, 58, 60, 63, 64, 68, 69, 72, 73, 75, 86, 94, 100]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 4, 10, 15, 16, 21, 30, 34, 35, 37, 39, 43, 45, 48, 55, 57, 61, 62, 65, 67, 70, 74, 78, 79, 88, 90, 93, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len(set1)==len(set5)+len(set3)

51
57
19
25
32

True

#### Create an empty set called `set6`.

In [17]:
set6 = set()
print(type(set6))
print(set6)

<class 'set'>
set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [18]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 10, 15, 16, 21, 25, 29, 30, 31, 32, 34, 35, 37, 39, 40, 41, 43, 44, 45, 47, 48, 55, 57, 61, 62, 65, 67, 70, 71, 74, 78, 79, 80, 84, 85, 87, 88, 90, 93, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [19]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [20]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
setx=set3.union(set4)
sety=setx.union(set5)
setz=set1.union(set2)
print(set==setz)

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here